/* Change the background of the entire visible page */
body {
    background-color: #B8E3E9; /* light blue  */
}

/* Style for all paragraphs */
p {
    color: #000080;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid blue; /* Adds an blue border around the heading */
    padding: 10px; /* Adds space inside the border */
